uvicorn
fastapi
pydantic==2.7.4
langchain_core
langgraph
tqdm
pandas
numpy
notebook
ipykernel
python-dotenv
requests
langchain
anthropic
langchain-anthropic
langchain-openai
langchain_experimental
langchain_community
oracledb
progress
progress-bar
pinecone
pypdf
unstructured
unstructured[pdf]
langchain_pinecone
pinecone-text
pinecone-notebooks
streamlit